<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("78780317-b8ec-48a7-b89f-0f7064080624");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
